body {
    margin: 0;
    padding: 0;

}

/* {
    touch-action: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

} */

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    background-color: black;
    background-size: 100%;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

/********** START **********/

#start {

    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/startskaerm.svg);
    background-size: 100%;

    overflow: hidden;

    /*     touch-action: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; */

}


#play {

    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 30vw;
    left: 40.5vw;
    background-image: url(pics/play1.svg);

    cursor: pointer;

}



/********** SCENARIE 1 **********/


#scenarie1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/desk.svg);
    background-size: 100%;

}

#telefon {

    position: absolute;
    width: 35vw;
    height: 65vw;
    top: 5vw;
    left: 53vw;
    background-image: url(pics/laaseskearm.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    /*     display: none; */


}

#telefon_tissemand {

    position: absolute;
    width: 35vw;
    height: 65vw;
    top: 5vw;
    left: 53vw;
    background-image: url(pics/tissemand.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    /*     display: none; */


}

/*****DILLEMMA , VALG OG RESULTAT**********/

#dilemma1 {
    background-image: url(pics/scenarie_1.svg);
    background-size: 100%;
    position: absolute;
    height: 8vw;
    width: 60vw;
    background-repeat: no-repeat;
    top: 5vw;

}

#valg1 {
    background-image: url(pics/mulighed_1.1.svg);
    background-size: 100%;
    position: absolute;
    height: 8vw;
    width: 60vw;
    background-repeat: no-repeat;
    top: 15vw;
    cursor: pointer;
}

#valg2 {
    background-image: url(pics/mulighed_1.2.svg);
    background-size: 100%;
    position: absolute;
    height: 10vw;
    width: 70vw;
    background-repeat: no-repeat;
    top: 21vw;
    left: -11vw;
    cursor: pointer;
}

#valg3 {
    background-image: url(pics/mulighed_1.3.svg);
    background-size: 100%;
    position: absolute;
    height: 8vw;
    width: 60vw;
    background-repeat: no-repeat;
    top: 28vw;
    left: -3vw;
    cursor: pointer;
}

#result1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/resultat1_2.svg);
    background-size: 100%;
}

#result2 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/senarie1_1.svg);
    background-size: 100%;
}

#result3 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/senarie1_3.svg);
    background-size: 100%;
}


#next {
    background-image: url(pics/play2.svg);
    background-size: 100%;
    position: absolute;
    height: 15vw;
    width: 15vw;
    top: 43vw;
    left: 85vw;
    cursor: pointer;

}

/********** SCENARIE 2 **********/

#scenarie2 {
    background-image: url(pics/gym.svg);
    background-size: 100%;
    position: absolute;
    height: 56.25vw;
    width: 100vw;
    filter: blur(50%);
}

#snapchat {
    background-image: url(pics/laaseskearm.svg);
    background-size: 100%;
    position: absolute;
    width: 35vw;
    height: 65vw;
    top: 5vw;
    left: 39vw;
}

/*****DILLEMMA , VALG OG RESULTAT**********/

#snapchat_nøgen {
    background-image: url(pics/noegenpige.svg);
    background-size: 100%;
    position: absolute;
    width: 35vw;
    height: 65vw;
    top: 5vw;
    left: 62vw;
}


#dilemma2 {
    background-image: url(pics/scenarie_2.svg);
    background-size: 100%;
    position: absolute;
    height: 30vw;
    width: 80vw;
    background-repeat: no-repeat;
    top: -1vw;

}

#valg1_2 {
    background-image: url(pics/mulighed_2.1.svg);
    background-size: 100%;
    position: absolute;
    height: 10vw;
    width: 80vw;
    background-repeat: no-repeat;
    top: 20vw;
    cursor: pointer;
}

#valg2_2 {
    background-image: url(pics/mulighed2_2.svg);
    background-size: 100%;
    position: absolute;
    height: 10vw;
    width: 80vw;
    background-repeat: no-repeat;
    top: 27vw;
    left: -2vw;
    cursor: pointer;
}

#valg3_2 {
    background-image: url(pics/mulighed_2.3.svg);
    background-size: 100%;
    position: absolute;
    height: 11vw;
    width: 70vw;
    background-repeat: no-repeat;
    top: 37vw;
    left: -1vw;
    cursor: pointer;
}

#result2_1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/senarie2_1.svg);
    background-size: 100%;
}

#result2_2 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/senarie2_2.svg);
    background-size: 100%;
}

#result2_3 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(pics/senarie2_3.svg);
    background-size: 100%;
}


#next2 {
    background-image: url(pics/play2.svg);
    background-size: 100%;
    position: absolute;
    height: 15vw;
    width: 15vw;
    top: 43vw;
    left: 85vw;
    cursor: pointer;

}

/***********SENARIE 3************/

#scenarie3 {
    background-image: url(pics/party.svg);
    background-size: 100%;
    position: absolute;
    height: 56.25vw;
    width: 100vw;
}

#person1 {
    background-image: url(pics/test_pige_fniser.svg);
    background-size: 100%;
    position: absolute;
    height: 39vw;
    width: 15vw;
    top: 17vw;
    left: 65vw;
}

#person2 {
    background-image: url(pics/test_dreng_bog.svg);
    background-size: 100%;
    position: absolute;
    height: 38vw;
    width: 19vw;
    top: 18vw;
    left: 51vw;

}


#person3 {
    background-image: url(pics/test_dreng_peger.svg);
    background-size: 100%;
    position: absolute;
    height: 39vw;
    width: 30vw;
    top: 17vw;
    left: 25vw;

}

#person_oppe_1 {
    background-image: url(pics/oppefrapige.svg);
    background-size: 100%;
    position: absolute;
    height: 60vw;
    width: 45vw;
    top: -1vw;
    left: 68vw;
}

#person_oppe_2 {
    background-image: url(pics/oppefrafregne.svg);
    background-size: 100%;
    position: absolute;
    height: 60vw;
    width: 50vw;
    top: -10vw;
    left: 25vw;

}


#person_oppe_3 {
    background-image: url(pics/oppefraboelle.svg);
    background-size: 100%;
    position: absolute;
    height: 60vw;
    width: 40vw;
    top: -2vw;
    left: -10vw;

}

#bryster {
    background-image: url(pics/telefon_pige_krop.svg);
    background-size: 100%;
    position: absolute;
    height: 25vw;
    width: 20vw;
    top: 25vw;
    left: 40vw;
    transform: rotate(180deg);
}

/*****DILLEMMA , VALG OG RESULTAT**********/

#bryster_stor {
    background-image: url(pics/pige_krop.svg);
    background-size: 100%;
    position: absolute;
    height: 50vw;
    width: 40vw;
    top: 6vw;
    left: 60vw;
}

#dilemma3 {
    background-image: url(pics/scenarie_3.svg);
    background-size: 100%;
    position: absolute;
    height: 30vw;
    width: 70vw;
    top: 0vw;
    left: 1vw;
}

#valg3_3_1 {
    background-image: url(pics/mulighed_3.1.svg);
    background-size: 100%;
    position: absolute;
    height: 13vw;
    width: 60vw;
    top: 25vw;
    left: 8vw;
    cursor: pointer;
}

#valg3_3_2 {
    background-image: url(pics/mulighed_3.2.svg);
    background-size: 100%;
    position: absolute;
    height: 9.5vw;
    width: 70vw;
    top: 36vw;
    left: 1vw;
    cursor: pointer;
}

#valg3_3_3 {
    background-image: url(pics/mulighed_3.3.svg);
    background-size: 100%;
    position: absolute;
    height: 8vw;
    width: 70vw;
    top: 45vw;
    left: 1vw;
    cursor: pointer;
}

#result3_1 {
    background-image: url(pics/senarie3_1.svg);
    background-size: 100%;
    position: absolute;
    height: 56.25vw;
    width: 100vw;
}

#result3_2 {
    background-image: url(pics/senarie3_2.svg);
    background-size: 100%;
    position: absolute;
    height: 56.25vw;
    width: 100vw;
}

#result3_3 {
    background-image: url(pics/senarie3_3.svg);
    background-size: 100%;
    position: absolute;
    height: 56.25vw;
    width: 100vw;
}

#next3 {
    background-image: url(pics/play2.svg);
    background-size: 100%;
    position: absolute;
    height: 15vw;
    width: 15vw;
    top: 43vw;
    left: 85vw;
    cursor: pointer;

}


/***********EFFEKTER***********/
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.shake {
    animation-name: shake_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake_kf {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
